.all {
/*   background-image: url("/images/Circle_K,_1255_Academy_Park_Lp,_Colorado_Springs,_CO.jpg");
*/   background-repeat: no-repeat;
   position:absolute;

    background-size: cover;
/*    opacity: 0.5;*/
}
.Displayliselect label {
    width: 320px;
}

.Displayliselect, .Displayli {
    display: inline-block;
}
ul {
    width: 1200px;
}
    .Displayliselect select option, .date, .FilterSelect {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
        width: 270px;
        padding: 7px;
    }

    .Displayli label {
        width: 180px;
        margin-top: 10%;
    }


.card-body {
    padding: 0;
}
.top{
    background-color:ghostwhite;
}
.back-img {
    width: 100%;
    opacity: 0.5;
    height:100%;
}
/* start preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wave.sk-spinner {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.sk-spinner-wave div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
/* end preloader */
